*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.left{
    float: left;

}
.right{
    float: right;
}

.box{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
/*头部开始*/
header{
    height: 40px;
    line-height: 40px;
    color: #ffffee;
    position: fixed;
    top: 0;
    left: 0;
    a-index:9999;
    background-color: #4f4f4f;
}
/*头部结束*/
/*主体开始*/
section .search{
    width: 300px;
    height: 30px;
    display: block;
    border-radius:6px;
    outline: none;
    text-indent: 10px;
    border: 1px solid darkorange;
    margin: 50px auto;

}
section ul{
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #8F8476;
    background-color: #cccccc;
    opacity: 0.6;
    border-radius: 10px;
}
section ul li{
    height: 20px;
    line-height: 20px;
    padding: 10px;
    border-bottom: 1px dashed darkorange;
    color: #666666;
    font-size: 13px;
    opacity: 1;
    cursor:pointer ;

}
section ul li:hover{
    color: #ec2752;
}
/*主体结束*/


footer{
    width: 100%;
    height: 46px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: url("../img/ppp.jpg");

}
footer .btns{
    height: 46px;
    display: flex;
    align-items: center;
}

footer .btns .prev{
    width: 28px;
    height: 28px;
    background: url("../img/ppp.jpg") 0px -122px;
}
footer .btns .prev:hover{
    background-position-x: -30px;
}
footer .btns .start{
    width: 36px;
    height: 36px;
    margin: 0px 10px;
    background: url("../img/ppp.jpg") -40px -198px;
}
footer .btns .start:hover{
    background-position-x: -40px;

}
footer .btns .next{
    width: 28px;
    height: 28px;
    background: url("../img/ppp.jpg") 73px -123px;
}
footer .btns .next:hover{
    background-position-x: -110px;
}
/*进度条*/
footer .bars .logo{
    width: 36px;
    height: 36px;
    margin-top: 5px;
    margin-left: 20px;
}
footer .bars .logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
footer .ctrl-bars-box{
    font-size: 12px;
    color: salmon;
    margin: 5px 10px;

}
footer .ctrl-bars-box .ctrl-bars{
    width: 300px;
    height: 10px;
    border-radius: 3px;
    background-color: #535353;
    position: relative;
    top: 7px;
}
footer .ctrl-bars-box .ctrl-bars .nowBars{
    width: 200px;
    height: 8px;
    border-radius: 3px;
    background-color: #C70C0C;
    position: absolute;
    top: 0;
    left: 0;

}
footer .ctrl-bars-box .ctrl-bars .ctrl-bth{
width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 100px;
    box-shadow: 0px 0px 5px #ccc;
    background-color: #f3F3f3;
}
footer .ctrl-bars-box .ctrl-bars .ctrl-bth .ctrl-bth-small{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:#C70C0C ;
margin: 5px;
}
footer .ctrl-bars-box p span{
margin: 0 5px;
}
footer .bars .times{
    color: #ffffee;
    font-size: 12px;
    margin: 21px 10px;
}
/*音量模式*/
footer .mosdes{
    height: 46px;
    display: flex;
    align-items: center;
}
footer .mosdes .voice{
    width: 25px;
    height: 25px;
    background: url("../img/ppp.jpg") 0px -240px;
}
footer .mosdes  .voice:hover{
    background-position-x: -29px;
}
footer .mosdes .mode{
    width: 25px;
    height: 25px;
    margin: 0px 10px;
    background: url("../img/ppp.jpg") 0px -336px;
}
footer .mosdes  .mode:hover{
    background-position-x: -30px;
}
footer .mosdes .play-list{
    width: 59px;
    height: 36px;
text-indent:  35px;
line-height: 37px;
    color: #ffffee;
    font-size: 12px;
    background: url("../img/ppp.jpg") -37px -60px;
}
footer .mosdes .play-list:hover{

    background-position-y: -90px;
}
/*背景图*/
  /*body {*/

    /*background-position: center center;*/
    /*padding: 50px 0px;*/
      /*filter: blur(5px);*/


/*}*/
  .mask{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-position:center center;
      filter: blur(5px);

  }
/*播放列表盒子*/
footer .play-list-box{
    width: 50%;
    height: 200px;
    background-color: #ffffee;
    position: absolute;
    color: #DDDDDD;
    /*bottom: -200px;*/
    left: 25%;
    bottom: 46px;
    border-radius: 6px;
    font-size: 12px;
}
footer .play-list-box .list-header{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 900;
    line-height: 40px;
    text-indent: 20px;
    background: url("../img/ppp.jpg") 0px 0px;
}
footer .play-list-box ul{
background-color: #211E1D;
    height: 160px;
    overflow: scroll;
}
footer .play-list-box ul li{
width: 100%;
    height: 28px;
    line-height: 28px;
    text-indent: 24px;
    cursor: pointer;
    color: #afafaf;


}
footer .play-list-box ul li:hover {
    background-color: #161313;
    color: #ffffee;
}
footer .play-list-box ul li.active{
    background-color: #292323;
    color: #ffffee;
}
footer .play-list-box ul li span:nth-of-type(1){
float: left;
}
footer .play-list-box ul li span:nth-of-type(2){
float: right;
    margin-right: 20px;

}
footer .play-list-box ul li i{
    width: 28px;
    height: 28px;
display: block;
    float: right;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    margin-right: 35px;
}
.info{
    width: 80px;
    height: 30px;
    color: #ffffee;
    border: 1px solid #fff;
    border-radius: 6px;
    background-color:#211E1D ;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    bottom: 46px;
    right: 590px;
    z-index: 9999;
    display: none;
}
/*#canvas{*/
    /*cursor: crosshair;*/
    /*z-index: 2;*/
    /*position: absolute;*/
    /*top: 0; left: 0;*/
/*}*/

/*#overlay{*/
    /*background: radial-gradient(ellipse at center, rgba(0,0,0,.0) 10%, rgba(0,0,0,.8) 80%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);*/
    /*z-index: 3;*/
    /*position: absolute;*/
    /*top:0;left:0;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

/*#bg_glow{*/
    /*z-index: 1;*/
    /*position: absolute;*/
    /*top:0;left:0;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/


/*#overlay:hover{*/
    /*cursor: pointer;*/
/*}*/

/*#fps{*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    /*z-index: 5;*/
/*}*/